  body {
    font: 400 15px;
    line-height: 1.8;
    color: white;
    font-family: "century gothic";
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030; 
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  p {
    font-size: 19px;
    line-height: 1.375em;
    color: #0B60B0;
    font-weight: 400;
    margin-bottom: 30px;
  } 

  .p-a{
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: left;
   
  }
  .jumbotron {
    background-color: #0B60B0;
    color: #ffffff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }






  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #0B60B0;
    font-size: 50px;
  }
  .logo {
    color: #0B60B0;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #0B60B0;
  }
  .carousel-indicators li {
    border-color: #0B60B0;
  }
  .carousel-indicators li.active {
    background-color: #0B60B0;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #0B60B0; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #1ee9f4;
    background-color: #fff !important;
    color: #1edbf4;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #0B60B0 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #0B60B0;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #0B60B0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
  
   /* logo style*/
  .logo-img {
    width: 200px;
    margin-right: 15px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0B60B0 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #2bc1d1;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  
 
  ::placeholder {
    color: #0B60B0;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #0B60B0;
  }


 /* graph part */
  #graph-container {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
  }
  iframe {                               
    width: 100%;
    height: 100%;
    border: none;
  }


  .graph-container {
    background-color: #f0f8ff; /* Light blue */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 25px auto; 
    width: 150%; /* Adjust width as needed */
    margin-left: 15px;
    display: flex; /* Makes the child elements align side by side */
    justify-content: space-around; /* Adds space between the two graphs */
    align-items: center;   /* Vertically center graphs */
    
   
  }

  .graph {
    flex: 1;               /* Allow each graph to take equal space */
    max-width: 45%;        /* Set max width for each graph */
    margin: 0 10px;        /* Add horizontal spacing between graphs */
  }
  
  canvas {
    width: 100%;           /* Make canvas fill the container */
    height: auto;          /* Adjust height automatically */
  }

 
.graph-below {
  margin-bottom: 100%;
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
}
  


 



#legend {
  bottom: 20px;
  right: 20px;

  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#legend h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-family: "century gothic";
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-family: "century gothic";
}

.legend-symbol {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #000;
}

.legend-label {
  font-size: 14px;
}




  

  /* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  font-size: 20px;
  cursor: pointer;
}





/* text animation inside jumburton*/
.ani-text {
  display: block;
  margin: auto;
  overflow: hidden;
  white-space: nowrap; /* Keeps text on one line */
  text-align: center;
  color: aliceblue;
  animation: slidein 7s ease-in-out infinite;
  font-size: 20px;
}

/* Keyframes */
@keyframes slidein {
  0%, 20% {
    transform: translateX(-100%); /* Start off-screen */
    opacity: 0; /* Hidden */
  }
  35% {
    transform: translateX(0); /* Fully visible */
    opacity: 1;
  }
  80% {
    transform: translateX(0); /* Stay in place */
  }
  100% {
    transform: translateX(100%); /* Slide out */
    opacity: 0; /* Fade out */
  }
}



hr {
  background-color: #0B60B0;
  height: 1px; /* Adjust thickness */
  border: none; /* Remove default border */
}
